* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2,
h3,
p {
    padding: 8px;
}

header {
    text-align: center;
    margin: 50px;
}

main {
    max-width: 800px;
    margin: auto;
    padding-bottom: 10px;
}

fieldset {
    margin: 20px;
    border-radius: 20px 20px 0 0;
}

.cadastroJogador {
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.informacoesAdicionais {
    border-radius: 20px 20px 0 0;
}

.informacoesAdicionais > div > p > input {
    margin-right: 8px;
}

#enviar {
    text-align: center;
}

footer {
    text-align: center;
    padding: 8px;
    display: block;
}

